/* Remove browser defaults */
* {margin:0;padding:0}
body {margin:auto}

/* Styling for header section*/
h1{display:inline;
float:left;
margin-right:875pt;
margin-left:10pt;
font-size:60pt}

#contactUsID{display:block; margin-left:60pt;}

header {list-style-type:none}

#regPageID, #loginPageID{float:left;text-align:center; font-size:16pt; margin-top:20pt}

#regPageID,#loginPageID{margin-right:60pt}

/* Styling for entire page*/
header, body{background:#b3cccc;font-family:Verdana, sans-serif}
body{width:1300}


/* Nav Styling - Add more*/
nav{margin-left:30pt}
nav  {margin-top:15px; margin-bottom:120px;}
nav {height:30px}
nav {font-family: Verdana, sans-serif; font-size: 14pt;}
 nav ul {list-style-type:none}
nav ul li {float:left;width:250px;text-align:right}
nav ul li a {display:block;padding:8px}


/* Positioning (Float, Display and Clear) */
nav, main, header {clear:both}

/* Search Bar Styling*/
.container{ margin-left:90pt;
margin-bottom:60pt;
margin-top:20pt;
}

#searchButton{display:flex;
width:1600px;
height:45px;}

#searchButton input{flex:1;
border:none;
outline:none;
padding:5px;}

#searchButton button{
	background:tomato;
	padding:10px 50px; 
	border:none;
	outline:none;
	color: #fff;
	cursor:pointer;
letter-spacing:1px;}



/* Styling for products of the month columns*/

h2{float:left; display:inline; margin-left:10pt}
#product1Image, #product2Image, #product3Image{width:170pt; height:150pt; float:left; display:block; padding-bottom:10pt}

#product1Image{margin-left:120pt;}

#product2Image{margin-left:160pt}

#product3Image{margin-left:160pt; }


#product1ID,#product2ID ,#product3ID {list-style-type:none; display:inline}


/* Styling for registration page (also used in login page)*/
#regHead{margin-left:620pt;
  margin-top:10px;
  padding-bottom:10pt;}
  #regH2{margin-left:650pt;
  padding-bottom:50pt;
  }

#regForm{

width:40pt;
display:inline;

size:10pt;
width:400pt;
margin-top:20pt
}



#regForm button {height:30px;width:300px; display:block; margin-bottom:10pt }

#homeRegLink {margin-bottom:10pt; display:block}

#DOBreg{width:125pt; height:15pt; }

#sectionReg{
  border: 2px solid black;
  border-radius: 5px;
  width:450px;
  height:450px;
  padding-top:100px;
}

/* Media Query for different devices*/
@media (max-width:1500px){
    body{
		zoom:78%;}
    
    header{zoom:98%;}

}

/* Styling for about us page (logged and unlogged)*/

.aboutUsNav{margin-bottom: 55pt;}
.aboutSection{ border: 1px solid black;
  border-radius: 5px;
  width:1750px;
  height:300px;
  padding-top:50px;
  margin-left: 20pt;
  padding-left:20px;
  font-size:15pt;
  }

  .aboutTxt{margin-right: 10pt;}

  .aboutUs{margin-left:20pt;
  margin-bottom:30pt;
font-size: 18pt;}

.me{width:150pt; height: 195pt; float:right; display:inline; margin-left: 30pt; margin-right: 8pt;
}

#LogOut{margin-right: 280pt;
  margin-top: 20pt;
float:right;
font-family: Verdana, sans-serif; font-size: 17pt;}

/* Styling for header of every logged in page*/
#profileImage, #basketImage, #listProduct {width:46pt; height:40pt; float:left;  margin-right: 65pt;}

.loggedHeader{display:inline;
  float:left;
  margin-right:800pt;
  margin-left:10pt;
  font-size:60pt}

  #listProduct{font-size: 15pt; text-align:center; margin-top: 23pt;}
 
  #basketImage {margin-top: 11pt;}

  #profileImage{margin-top: 10pt;}


/* Styling for login page*/
  
#loginForm{
    width:40pt;
    display:inline;
    size:25pt;
    font-size:20pt;
    margin-top:20pt
    }

    #loginHead{margin-left:620pt;
      margin-top:10px;
      padding-bottom:10pt;}
      
      #loginH2{margin-left:640pt;
      padding-bottom:50pt;
      font-size:25pt;}

      #sectionLogin{
        border: 2px solid black;
        border-radius: 5px;
        width:600px;
        height:300px;
        padding-top:100px;
      }

      #loginForm button {height:30px;width:300px; display:block; margin-bottom:10pt }

      .passLog{margin-bottom: 20pt;}

      
/* Styling for listing page*/
      
#productCon{margin-bottom:15px;}

#listingNav{margin-bottom:70pt;}

#listingForm{margin-left: 10pt;
display: block;}

#fileListing{margin-top: 10pt; size:15pt}

#loginForm{
  
  display:inline;
  size:25pt;
  font-size:20pt;
  margin-top:20pt
  }

  #listingSubmit{
    width:335pt;
  size:50pt }

  #productCat{margin-bottom: 10pt;}

  /* Styling for Contact Us page*/

  #contactHeader{margin-bottom: 15pt;
  margin-left: 15pt ;}
  #contactForm{margin-left:15pt}

  #contactSubmit{
    width:335pt;
  size:50pt;
margin-top: 10pt;}

#profileH1{margin-bottom:60pt; }



  /* Styling for Contact Us page*/

  .profileInfo{  font-size: 20px;
    font-family:Verdana, sans-serif;
  margin-left: 10pt;
  margin-bottom: 10pt;
 

width:400pt}

 #profileHeading{display:block;
margin-right:10pt;
margin-bottom:40pt;
margin-top:20pt;
font-size: 25px;
margin-left:10pt}

#editButton {
margin-left:10pt;
width:130pt;
size:20pt;}

#saveProfile{
  margin-left:10pt;
  width:180pt;
  size:20pt;}


  /* Styling for results page*/


#resultsDiv{font-size: 25pt;}

  table {
    margin-top: 10px;
    margin-left:10pt;
    border-collapse: separate;
    border-spacing: 1px;
    width:50%;
    border: 1px solid black;
    }
    
    tr {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    }
    
    td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    
    margin-top: 10pt;
    width: 20%; height: 160pt;
  padding-right: 2pt;
    
    }

    .resultsName{font-size: 40pt; width: 90%;}

 

.resultsImage{ width:100%; height:100%;  display: block;}

.resP{font-size: 18pt;}

#resultsH2{font-size:25pt;
margin-bottom: 15pt;
display: block;
text-decoration: underline;}